<div class="mx-auto searchbar" style="width: 360px">
  <form class="form-inline col-auto" action="/search" method="GET">
    <input class="form-control mr-sm-2" type="search" name="term" placeholder="Search" {{#if searchTerm}}value="{{searchTerm}}"{{/if}}>
    <button class="btn btn-danger" type="submit">Search</button>
  </form>
</div>

<div class="divider"></div>

<br><br><br>

{{#each locations}}
  <ul>
    <li>
      <a class="learnmore" href="">
        <div class="row no-gutters sitecard">
          <div class="col-md-2">
            <h4 class="location-name">{{name}}</h4>
          </div>
          <div class="col-md-10">
            <p>{{category}}</p>
            <p>{{mission}}</p>
            <p>{{number}}</p>
            <p>{{email}}</p>
            </div>
          </div>
        </div>
      </a>
    </li>
  </ul>
{{/each}}
