<div class="mx-auto searchbar" style="width: 360px">
  <form class="form-inline col-auto" action="/search" method="GET">
    <input class="form-control mr-sm-2" type="search" name="term" placeholder="Search" {{#if searchTerm}}value="{{searchTerm}}"{{/if}}>
    <button class="btn btn-danger" type="submit">Search</button>
  </form>
</div>

<div class="divider"></div>

<br><br><br>

{{#each opportunities}}
  <div class="row">
    <div class="col-md-3">
      <h4 class="location-name">{{organization.name}}</h4>
      <span class="badge badge-danger">{{organization.category}}</span>
    </div>

    <div class="col-md-9 learnmore-info">
      <p>{{organization.mission}}</p>
      {{#if organization.phonenumber}}
        <p><h6>Number:</h6> {{organization.phonenumber}}</p>
      {{/if}}
      <p><h6>Email:</h6> <a href="mailto:{{organization.email}}?subject=The%20subject%20of%20the%20mail&subject=Volnteer%20Opportunity">{{organization.email}}</a></p>

      <h5>Opportunities</h5>
      <pre class="desciption">{{description}}</pre>
    </div>
  </div>
  <hr>
{{/each}}
