<div class="mx-auto searchbar" style="width: 360px">
  <form class="form-inline col-auto" action="/summersearch" method="GET">
    <input class="form-control mr-sm-2" type="search" name="term" placeholder="Search" {{#if searchTerm}}value="{{searchTerm}}"{{/if}}>
    <button class="btn btn-danger" type="submit">Search</button>
  </form>
</div>

<div class="divider"></div>

<br><br><br>

{{#each summer}}
<form action="/more" method="GET">
  <ul class="options">
    <li>
        <div class="row no-gutters sitecard">
          <div class="col-md-3">
            <h4 class="location-name">{{name}}</h4>
            <span class="badge badge-danger">{{category}}</span>
          </div>
          <div class="col-md-9 learnmore-info">
            <p>{{mission}}</p>
            {{#if phonenumber}}
              <p><h6>Number:</h6> {{phonenumber}}</p>
            {{/if}}
            <p><h6>Email:</h6> <a href="mailto:{{email}}?subject=The%20subject%20of%20the%20mail&subject=Volnteer%20Opportunity">{{email}}</a></p>
            <button class="btn btn-danger" type="submit" name="{{name}}">Search</button>
            </div>
          </div>
        </div>
    </li>
  </ul>
</form>
{{/each}}
